# SPDX-License-Identifier: GPL-2.0
menu "ROCKCHIP_MPP"
	depends on ARCH_ROCKCHIP

config ROCKCHIP_MPP_SERVICE
	tristate "mpp service scheduler"
	default n
	help
	  rockchip mpp service.

config ROCKCHIP_MPP_DEVICE
	tristate "mpp device framework"
	depends on ROCKCHIP_MPP_SERVICE
	default n
	help
	  rockchip mpp device framework.

config ROCKCHIP_MPP_VDEC_DEVICE
	tristate "video decoder device driver"
	depends on ROCKCHIP_MPP_DEVICE
	default n
	help
	  rockchip mpp video decoder and hevc decoder.
endmenu
