# SPDX-License-Identifier: GPL-2.0
menu "ROCKCHIP_MPP"
	depends on ARCH_ROCKCHIP

config ROCKCHIP_MPP_SERVICE
	tristate "mpp service scheduler"
	default n
	help
	  rockchip mpp service.

config ROCKCHIP_MPP_DEVICE
	tristate "mpp device framework"
	depends on ROCKCHIP_MPP_SERVICE
	default n
	help
	  rockchip mpp module.
endmenu
