/*
 * FriendlyARM's Exynos4412 based TINY4412 board device tree source
 *
 * Copyright (c) 2013 Alex Ling <kasimling@gmail.com>
 *
 * Device tree source file for FriendlyARM's TINY4412 board which is based on
 * Samsung's Exynos4412 SoC.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos4412.dtsi"

/ {
	model = "FriendlyARM TINY4412 board based on Exynos4412";
	compatible = "friendlyarm,tiny4412", "samsung,exynos4412", "samsung,exynos4";

	memory {
		reg = <0x40000000 0x40000000>;
	};

	leds {
		compatible = "gpio-leds";

		led1 {
			label = "led1";
			gpios = <&gpm4 0 1>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};

		led2 {
			label = "led2";
			gpios = <&gpm4 1 1>;
			default-state = "off";
		};

		led3 {
			label = "led3";
			gpios = <&gpm4 2 1>;
			default-state = "off";
		};

		led4 {
			label = "led4";
			gpios = <&gpm4 3 1>;
			default-state = "off";
			linux,default-trigger = "mmc0";
		};
	};

	rtc@10070000 {
		status = "okay";
	};

	sdhci@12530000 {
		bus-width = <4>;
		pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;
		pinctrl-names = "default";
		status = "okay";
	};

	codec@13400000 {
		status = "okay";
		samsung,mfc-r = <0x43000000 0x4000000>;
		samsung,mfc-l = <0x51000000 0x4000000>;
	};

	mmc@12550000 {
		status = "okay";
		num-slots = <1>;
		supports-highspeed;
		broken-cd;
		non-removable;
		card-detect-delay = <200>;
		samsung,dw-mshc-sdr-timing = <1 1>;
		samsung,dw-mshc-ddr-timing = <1 1>;

		slot@0 {
			reg = <0>;
			bus-width = <8>;
			gpios = <&gpk0 1 3 0 2>, <&gpk0 0 3 0 2>,
				<&gpk1 3 4 3 2>, <&gpk1 4 4 3 2>,
				<&gpk1 5 4 3 2>, <&gpk1 6 4 3 2>,
				<&gpk0 3 3 3 2>, <&gpk0 4 3 3 2>,
				<&gpk0 5 3 3 2>, <&gpk0 6 3 3 2>;
		};
	};

	serial@13800000 {
		status = "okay";
	};

	serial@13810000 {
		status = "okay";
	};

	serial@13820000 {
		/* J4851 XEINT28 */
		linux,rs485-enabled-at-boot-time;
		rs485-rts-active-high;
		rts-gpio = <&gpx3 4 1 1 3>;
		rs485-rts-delay = <0 200>;
		status = "okay";
	};

	serial@13830000 {
		/* J4852 XEINT29 */
		linux,rs485-enabled-at-boot-time;
		rs485-rts-active-high;
		rts-gpio = <&gpx3 5 1 1 3>;
		rs485-rts-delay = <0 200>;
		status = "okay";
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <0>;
		};

		xusbxti {
			compatible = "samsung,clock-xusbxti";
			clock-frequency = <24000000>;
		};
	};

	exynos-usbphy@125B0000 {
		status = "okay";
	};

	hsotg@12480000 {
		status = "okay";
	};

	ehci@12580000 {
		status = "okay";
		samsung,vbus-gpio = <&gpm2 4 1 3 3>;
		port@0 {
			status = "okay";
		};
		port@1 {
			status = "okay";
		};
		port@2 {
			status = "okay";
		};
	};

        camera {
                status = "okay";
                pinctrl-names = "default";
                pinctrl-0 = <>; 

                fimc@11800000 {
                        status = "okay";
                };  

                fimc@11810000 {
                        status = "okay";
                };  

                fimc@11820000 {
                        status = "okay";
                };  

                fimc@11830000 {
                        status = "okay";
                };  
        }; 

};
